<p style="color: green"><%= notice %></p>

<% content_for :title, "Service categories" %>

<h1>Service categories</h1>

<div id="service_categories">
  <% @service_categories.each do |service_category| %>
    <%= render service_category %>
    <p>
      <%= link_to "Show this service category", service_category %>
    </p>
  <% end %>
</div>

<%= link_to "New service category", new_service_category_path %>
